<!-- <p>header works!</p> -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Notes App</a>
        </div>
    </div>
</nav>