<!-- <p>notes-list works!</p> -->

<div class="row" >
    <div class="col-xs-12">
        <div class="list-group-item clearfix" style="background: #fafab5; color: black;padding-left: 20px;border: transparent;">
            <div class="pull-left">
                <b>
                    <h4 class="list-group-item-text">
                        {{newNote.heading}}</h4>
                </b>
                <p class="list-group-item-text">
                    {{newNote.content}}
                </p>
                <br>
                <p class="list-group-item-text">
                    Date Created : {{newNote.timestamp}}
                </p>
            </div>
            <button class="text-danger btn btn-danger" (click)="removeNoteFunc()">Delete</button>
        </div>
    </div>
</div>
<br>