<app-header></app-header>
<div class="container">
    <app-add-notes (noteCreated)="onNoteCreated($event)"></app-add-notes>
    <hr>
    <h2>Saved Notes</h2>
    <app-notes-list *ngFor="let note of noteList; let i = index;" [newNote]="note" [index]="i" (removeNote)="removeNote($event)"></app-notes-list>
</div>

<!-- <p>App Component works.</p>
<app-header></app-header>
<app-notes></app-notes> -->
<!-- <app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-notes></app-notes>
        </div>
    </div>
</div> -->
