<!-- <p>notes works!</p> -->
<div class="row">
    <div class="col-xs-12">
        <button type="submit" class="btn btn-primary">Create New Note</button>
    </div>
    <!-- <app-add-notes></app-add-notes> -->
</div>
<hr>
<app-notes-list></app-notes-list>

<!-- <app-add-notes></app-add-notes>
<app-notes-list></app-notes-list> -->