<!-- <p>add-notes works!</p> -->
<div class="row">
  <div class="col-xs-12">
    <!-- <form> -->
    <h2>New Note</h2>
    <br />
    <div class="row">
      <div class="col-sm-12 form-group">
        <label>Heading : </label>
        <input type="text" class="form-control" [(ngModel)]="newNoteHeading" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 form-group">
        <label>Content : </label>
        <input type="text" class="form-control" [(ngModel)]="newNoteContent" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success" (click)="onAddNote()">Save</button>
      </div>
    </div>
    <!-- </form> -->
  </div>
</div>
